minio/.minio.sys

__pycache__

.env

# Virtual env
server/bin/*
server/include/*
server/lib/*
server/Scripts/*
server/local/*
server/pyvenv.cfg
server/share/*

# Minio and Data
minio/*
server/minio_data/*
server/minio.exe
server/5eda76def93f82004f4114c6/*

# MongoDB
mongodb/*
server/mongodb_data
server/mongod.exe

# Used for reference and testing
server/python_modules/*

# Prabs testing suite
server/test.py

.vscode/*
